<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Weather</title>
    <link rel="icon" href="/img/weatherIcon.jpg">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/nodeJs.png" class="portrait">
    </div>
</body>

 {{>footer}}

</html>